
            <div class="row margin-bottom-40">
                <!-- searchFlightForm -->
                <div class="col-md-9">
                    <form id="searchFlightForm" class="sky-form">
                        <header>Flight Information</header>

                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-4">From</label>
                                    <div class="col col-8">
										<label class="input">
											<input type="text" name="from" id="from" ng-model="data.flightInfo.from.name" readonly />
											<i></i>
										</label>                                    
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="row">
                                    <label class="label col col-4">To</label>
                                    <div class="col col-8">
										<label class="input">
											<input type="text" name="from" id="from" ng-model="data.flightInfo.to.name" readonly />
											<i></i>
										</label>                                    
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="row">
                                    <label class="label col col-4">Date</label>
                                    <div class="col col-8">
                                        <label class="input">
											<i class="icon-append fa fa-calendar"></i>
											<input type="text" name="date" id="date" ng-model="data.date" readonly>
                                        </label>
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="row">
                                    <label class="label col col-4">Number of passengers</label>
                                    <div class="col col-8">
                                        <label >
											<button type='button' class="quantity-button" name='subtract' ng-click="decreaseQty()" value='-'>-</button>
											<input type="text" style="width: 50px" name="numberOfPassengers" id="numberOfPassengers" ng-model="data.numberOfPassengers" readonly>
											<button type='button' class="quantity-button" name='add' ng-click="data.numberOfPassengers = data.numberOfPassengers+1" value='+'>+</button>
                                        </label>
                                    </div>
                                </div>
                            </section>

                        </fieldset>
                        <footer>
                            <button ng-click="bookFlight()" class="button">Book Flight</button>
                        </footer>
                    </form>

                </div>
                <!-- searchFlightForm -->
            </div><!--/end row-->
                
            <div class="row margin-bottom-40">
				<!-- searchFlightResultsForm -->
				<div class="col-md-9" ng-if="data.availableFlights">
					<form id="searchFlightResultsForm" class="sky-form">
						<header>Search Results</header>
						
							<div class="panel panel-sea margin-bottom-40">
								<div class="panel-heading">
									<h3 class="panel-title"><i class="fa fa-edit"></i> Striped Rows</h3>
								</div>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>From</th>
											<th>To</th>
											<th>TariffNo</th>
											<th>Scheduled Date</th>
											<th>Price</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat = "flight in data.availableFlights track by $index">
											<td>{{$index + 1}}</td>
											<td>{{flight.flightInfo.from.name}}</td>
											<td>{{flight.flightInfo.to.name}}</td>
											<td>{{flight.flightInfo.tariffNo}}</td>
											<td>{{flight.scheduledDate}}</td>
											<td>{{flight.price}}</td>
											<td>
												<a href="#/bookFligt?flightScheduleId={{flight.id}}" class="btn btn-success btn-xs"><i class="fa fa-check"></i> Book now</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						
						<footer></footer>
					</form>
				</div>                
				<!-- searchFlightResultsForm -->
				
            </div><!--/end row-->
        </div>
    </div>
</div>

