
            <div class="row margin-bottom-40">
                <div class="col-md-9">

					<!-- Checkout-Form -->
					<form id="paymentForm" class="sky-form">
						<header>Payment form</header>
						
						<fieldset ng-repeat = "passenger in data.passengers track by $index">
							Passenger #{{$index + 1}}
							<div class="row">
								<section class="col col-6">
									<label class="input">
										<i class="icon-prepend fa fa-user"></i>
										<input type="text" name="fname" placeholder="First name" ng-model="passenger.name">
									</label>
								</section>
								<section class="col col-6">
									<label class="input">
										<i class="icon-prepend fa fa-user"></i>
										<input type="text" name="lname" placeholder="Last name" ng-model="passenger.surname">
									</label>
								</section>
							</div>

							<div class="row">
								<section class="col col-6">
									<label class="input">
										<i class="icon-prepend fa fa-envelope"></i>
										<input type="email" name="email" placeholder="E-mail" ng-model="passenger.email">
									</label>
								</section>
								<section class="col col-6">
									<label class="input">
										<i class="icon-prepend fa fa-phone"></i>
										<input type="tel" name="phone" placeholder="Phone" ng-model="passenger.phone">
									</label>
								</section>
							</div>
						</fieldset>

						<fieldset>
							<section>
								<div class="inline-group">
									<label class="radio"><input type="radio" name="radio-inline" checked><i class="rounded-x"></i>Visa</label>
									<label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>MasterCard</label>
								</div>
							</section>

							<section>
								<label class="input">
									<input type="text" name="name" placeholder="Name on card" ng-model="data.creditCard.cardOwner">
								</label>
							</section>

							<div class="row">
								<section class="col col-10">
									<label class="input">
										<input type="text" name="card" id="card" placeholder="Card number" ng-model="data.creditCard.number">
									</label>
								</section>
								<section class="col col-2">
									<label class="input">
										<input type="text" name="cvv" id="cvv" placeholder="CVV2" ng-model="data.creditCard.cvv2">
									</label>
								</section>
							</div>

							<div class="row">
								<label class="label col col-4">Expiration date</label>
								<section class="col col-5">
									<label class="select">
										<select name="month" ng-model="data.creditCard.expirationMonth">
											<option value="0" selected disabled>Month</option>
											<option value="01">January</option>
											<option value="02">February</option>
											<option value="03">March</option>
											<option value="04">April</option>
											<option value="05">May</option>
											<option value="06">June</option>
											<option value="07">July</option>
											<option value="08">August</option>
											<option value="09">September</option>
											<option value="10">October</option>
											<option value="11">November</option>
											<option value="12">December</option>
										</select>
										<i></i>
									</label>
								</section>
								<section class="col col-3">
									<label class="input">
										<input type="text" name="year" id="year" placeholder="Year" ng-model="data.creditCard.expirationYear">
									</label>
								</section>
							</div>
						</fieldset>

						<footer>
							<button type="submit" class="btn-u" ng-click="commitPayment()">Continue</button>
						</footer>
					</form>
					<!-- End Checkout-Form -->
					
				</div>
			</div>
		

</div>